.custom-shape {
    position: absolute;
    bottom: 9.5%;
    left: 0;
    width: 100%;
    // overflow: hidden;
    line-height: 0;
    

    svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 54px;
    }

    .shape-fill {
        fill: #fff;
    }
}
