.navbar {
    position: sticky;
    background: linear-gradient(
        4deg,
        #414345,
        #232526
    );
    line-height: 8vh;
    height: 8vh;
    font-size: clamp(15px, 2vw, 23px);
    z-index: 2;
    margin: 0 auto;
    top: 2.5vh;
    width: 95vw;
    border-radius: 9px;

    .navbar-logo {
        margin: 10%;
        color: rgb(193, 190, 190);
        font-weight: bold;
        text-decoration: underline;
    }

    // ul
    .nav-menu {
        float: right;
        margin-right: 4%;

        .nav-item {
            display: inline-block;
            margin-right: 19px;

            .nav-links {
                color: white;
                text-decoration: none;
            }
        }
    }

    .menu-icon {
        float: right;
        visibility: hidden;
        color: white;
    }
}
@media screen and (max-width: 900px) {
    .navbar {
        .menu-icon {
            visibility: visible;
            margin-right: 4%;
        }
        .nav-menu {
            background-color: black;
            display: static;
            position: absolute;
            left: -103%;
            top: 98%;
            width: 100%;
            text-align: center;

            .nav-item {
                display: block;
                line-height: 8vh;
                width: 100%;
            }
        }
        .active {
            background-color: black;
            display: static;
            position: absolute;
            left: 0;
            top: 98%;
            width: 100%;
            text-align: center;
            transition: all 0.6s ease-in-out;

            .nav-item {
                &:hover {
                    margin: 0;
                    background-color: white;
                    .nav-links {
                        color: black;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
