.lineBreak{
    width: 100vw;
    text-align:center;
    background:linear-gradient(1deg,rgb(255,255,255)19%,rgba(17, 8, 8, 0.877)100%);

    .line-image{
        width:5%;
        margin-top: 2vh;
        filter:drop-shadow(15px 16px 3px rgb(67, 40, 40));
    }
    h3{
        font-size:39px;
        filter:drop-shadow(9px 9px 9px black);
    }
}