* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.about,
.contact {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.929);
    margin-top: -8vh;
    // text-align: center;
}

.video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    margin-top: -10%;
}

//  ---------------------------------
// home page  ------------------------

.home-page {
    text-align: center;
    background-color: #fff;
    margin-top: 42%;

    .hero-text {
        h1 {
            position: absolute;
            font-size: 10vw;
            margin-top: -22%;
            margin-left: 20%;
            z-index: 1;
            filter: drop-shadow(39px 9px 35px rgb(22, 21, 21));
        }
        h5 {
            position: absolute;
            font-size: 3.5vw;
            margin-top: -9%;
            margin-left: 30%;
            z-index: 1;
            filter: drop-shadow(12px 12px 29px rgb(22, 21, 21));
        }
    }
    .pang {
        margin-top: 10vh;
        height: 30vh;
        background-color: rgb(243, 211, 150);

        .text {
            margin: 4% auto;
            width: 60vw;
            border-radius: 25px;
            border: 2px solid;
            padding: 4%;
            transform: translateY(39%);
            h5 {
                font-size: clamp(29px, 2.1vw, 47px);
                margin-bottom: -4%;
            }
            p {
                margin-top: 8%;
                font-size: clamp(14px, 2.1vw, 22px);
            }
        }
    }

    .button-more {
        button {
            padding: 1% 2%;
            border-radius: 10px;
            margin-bottom: 5%;
            font-size: clamp(14px, 2vw, 30px);
            font-weight: 600;

            &:hover {
                cursor: pointer;
                color: #fff;
                background-color: rgb(31, 30, 30);
            }
        }
    }
}

// about page ----------------------
.about-page {
    text-align: center;

    .hero-text {
        font-size: clamp(29px, 3vw, 52px);
        text-decoration: underline;
        filter: drop-shadow(2px 2px 9px rgb(22, 21, 21));
        margin-bottom: 6%;
    }
    .firstshop,
    .secondshop {
        margin-bottom: 4%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        section {
            h2 {
                font-size: clamp(25px, 2vw, 48px);
                text-decoration: underline;
                filter: drop-shadow(2px 2px 9px rgb(22, 21, 21));
            }
            p {
                width: 37vw;
                padding: 2%;
                font-size: clamp(22px, 2vw, 30px);
                align-self: center;
            }
        }
    }
}

// product page  ------------------------------
.product-page {
    // margin-top: 80%;
    // margin-bottom: 30%;
    background-color: #fff;
    // z-index: 1;
    // padding-bottom: 15%;
}

//  contact page -------------------

.contact-page {
    text-align: center;

    h1 {
        margin: 5%;
        font-size: 4vw;
    }

    .get-in-touch {
        width: 98vw;
        display: flex;
        justify-content: center;
        margin: 3% auto;

        .box {
            border: 1px solid black;
            border-radius: 15px;
            box-shadow: 14px 14px 38px black;
            width: 25vw;
            height: auto;
            margin-top: -2%;
            z-index: 1;

            h2 {
                font-size: clamp(25px, 2vw, 45px);
                padding: 4%;
                text-decoration: underline;
            }
            ul {
                display: flex;
                flex-direction: column;
                margin: 2%;
                li {
                    display: flex;
                    justify-content: space-evenly;
                    margin: 3%;
                    i {
                        font-size: clamp(23px, 2vw, 40px);
                    }
                    section {
                        margin: auto;

                        h3 {
                            font-size: clamp(21px, 2vw, 40px);
                            margin-bottom: 3%;
                        }
                        p {
                            font-size: clamp(16px, 2vw, 21px);
                        }
                    }
                }
            }
        }
        iframe {
            z-index: -1;
            border-radius: 15px;
            box-shadow: 14px 14px 38px black;
        }
    }
}


@media screen and (max-width: 1024px) {
    .video {
    }
    //    product page -------------------
    .product-page {
        // margin-bottom: 50%;
        // padding-bottom: 5%;
    }

    // ------------------------ contact page
    .contact-page {
        .get-in-touch {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 4% auto;

            .box {
                width: 80vw;
                margin: 1% auto;

                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;

                    li {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            iframe {
                margin: 0 auto;
                width: 80vw;
            }
        }
    }
}
