* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    // font-size: calc( 10px + 2vw);
    
}
// .video,
.about,
.contact{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.929);
    // z-index: -1;
    margin-top: -8vh;
    text-align: center;

    h1 {
        position: absolute;
        font-size: 6rem;
        margin-top: 30%;
        margin-left: 20%;
        // z-index: 1;
    }
}

//  ------------------------------   
.product-page{
  margin-top: 50%;
  background-color: #fff;
}

// ---------------------------------
.video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  margin-top:-5%;
  
}

// home page  ------------------------ 

.home-page {
    text-align: center;
    background-color: #fff;
    margin-top:50%; 

    .hero-text {
    h1 {
      position: absolute;
      font-size: 10vw;
      margin-top: -20%;
      margin-left: 20%;
      z-index: 2;
  }
  h5{
    position: absolute;
      font-size: 3.5vw;
      margin-top: -7%;
      margin-left: 30%;
      z-index: 2;
  }
}

    .button-more {

        button {
            padding: 1% 2%;
            border-radius: 10px;
            margin-bottom: 5%;
            font-size:clamp(14px, 3vw, 30px);
            font-weight: 600;

            &:hover {
                cursor: pointer;
                color: #fff;
                background-color: rgb(31, 30, 30);
                
            }
        }
    }
}

//  contact page -------------------  

.contact-page {
    text-align: center;
    
    h1 {
        margin: 5%;
        font-size: 4vw;
    }

    .get-in-touch {
        width: 90%;
        display: flex;
        text-align: center;
        margin: auto;

        .box {
            border: 1px solid black;
            border-radius: 15px;
            box-shadow: 14px 14px 38px black;
            width: 35%;
            height: 70vh;
            margin-top: -4%;
            margin-bottom: 3%;
            z-index: 1;

            h2{
              font-size:2.5vw;
              padding: 7%;
              text-decoration: underline;
            }
            ul{
              display:flex;
              flex-direction:column;
              margin:1%;
              li{
                display:flex;
                justify-content: space-evenly;
                // flex-;
                margin:3%;
                i{
                  font-size:3vw;
                  
                }
                section{
                  margin:auto;

                  h3{
                    font-size:2vw;
                    margin-bottom:3%;
                  }
                  p{
                    font-size:1.2vw;
                  }
                }
              }
            }
        }
    }
    iframe {
        z-index: -1;
        border-radius: 15px;
        box-shadow: 14px 14px 38px black;
    }
}
