* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.about,
.contact {
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.929);
    margin-top: -8vh;
}

.video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    margin-top: -4.9%;
}

//  ---------------------------------
// home page  ------------------------

.home-page {
    text-align: center;
    background-color: #fff;
    margin-top: 47%;

    .hero-text {
        h3 {
            position: absolute;
            font-size: 9vw;
            margin-top: -21%;
            margin-left: 20%;
            z-index: 1;
            filter: drop-shadow(39px 9px 35px rgb(22, 21, 21));
        }
        h5 {
            position: absolute;
            font-size: 3.5vw;
            margin-top: -8%;
            margin-left: 44%;
            z-index: 1;
            filter: drop-shadow(12px 12px 29px rgb(22, 21, 21));
        }
    }

    .pang {
        // margin-top: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50vh;
        background: linear-gradient(#fff, #93474745,#fff);
        padding:1%;
        margin:auto;

        .text {
            margin: auto;
            width: 65vw;
            border-radius: 25px;
            border: 2px solid;
            padding: 2%;
            transform: translateY(11%);
            h6 {
                font-size: calc(11px + 1vw);
            }
            p {
                margin-top: 4%;
                font-size: calc(9px + 1vw);
            }
        }
    }

    .button-more {
        button {
            padding: 1% 2%;
            border-radius: 10px;
            margin-bottom: 5%;
            font-size: clamp(12px, 2vw, 18px);
            font-weight: 300;

            &:hover {
                cursor: pointer;
                color: #fff;
                background-color: rgb(31, 30, 30);
            }
        }
    }
}

// about page ----------------------
.about-page {
    text-align: center;

    .hero-text {
        font-size: calc(25px + 1vw);
        text-decoration: underline;
        filter: drop-shadow(2px 2px 9px rgb(22, 21, 21));
        margin-bottom: 6%;
    }
    .shop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items:center;
        margin-bottom: 5%;

        section {
            h2 {
                font-size: calc(16px + 1vw);
                text-decoration: underline;
                filter: drop-shadow(2px 2px 9px rgb(22, 21, 21));
            }
            p {
                width: 37vw;
                padding: 2%;
                font-size: calc(12px + 1vw);
                align-self: center;
            }
        }
    }
    .second{
        flex-direction:row-reverse;
    }
}

// product page  ------------------------------
.product-page {
    margin-top: 46%;
    background-color: #fff;
}

//  contact page -------------------

.contact-page {
    max-width: 100vw;

    h1 {
        text-align: center;
        margin: 5%;
        font-size: calc(12px + 4vw);
    }

    .get-in-touch {
        display: flex;
        flex-direction: row;
        margin: 2%;
        justify-content: center;
        align-items: center;

        .box {
            width: 34%;
            height: auto;
            text-align: center;
            margin-top: -2%;
            border: 1px solid black;
            border-radius: 15px;
            box-shadow: 14px 14px 38px black;
            padding-bottom: 7%;

            h2 {
                font-size: calc(12px + 1.6vw);
                padding-top: 4%;
                text-decoration: underline;
            }
            ul {
                transform: translateY(11%);
                display: flex;
                flex-direction: column;
                margin: 1%;
                margin-top: -11%;
                justify-content: center;
                align-items: center;
                li {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 3%;
                    width:47%;
                    i {
                        font-size: clamp(23px, 2vw, 35px);
                        // margin-left:-10%;
                    }
                    section {
                        h3 {
                            font-size: calc(12px + 1vw);
                            margin-bottom: 3%;
                        }
                        p {
                            font-size: calc(7px + .8vw);
                        }
                    }
                }
            }
        }

        .map {
            width: 60%;
        }
    }
}
// --------------------------------------------------------------- 1024
@media screen and (max-width: 1024px) {
    .video {
        margin-top: -14%;
    }
    // ----------------------------- home page  
    .home-page {
        .pang {
            .text {
                width: 70vw;
                transform: translateY(14%);
            }
        }
    }

    //   -------------------  product page
    .product-page {
        margin-top: 100%;
        padding-bottom: 32%;
    }

    // ----------------------------- About Page 

    .about-page{

        .shop{
            flex-direction: column;
            width:100%;
            section{
                margin:4%;

                p{
                    width:100%;
                }
            }
            .youtube-video{
                max-width: 95vw;
            }
        }
    }
    // ------------------------ contact page
    .contact-page {
        .get-in-touch {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .box {
                margin: 1% auto;
                width: 90vw;
                height: auto;

                h2 {
                    padding-top: 4%;
                    // font-size: 5vw;
                    font-size: calc(12px + 2vw);
                }

                ul {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    margin-top: -5%;
                    padding: 2%;

                    li {
                        display: flex;
                        flex-direction: column;
                        margin: 1%;
                        section {
                            display: flex;
                            flex-direction: column;
                            padding: 2%;
                        }
                    }
                }
            }
            .map {
                width: 95%;
                height: 100%;
                margin: 2%;
            }
        }
    }
}
